---
name: ci-tags
on:
  workflow_dispatch:
  push:
    tags:
      - '**'

jobs:
  build-tag:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Build docker image
        run: |
          DOCKER_BUILDKIT=1 docker build \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg PHP_VERSION=${{ vars.DOCKER_RUNTIME_PHP_VERSION }} \
            --build-arg COMPOSER_VERSION=${{ vars.DOCKER_RUNTIME_COMPOSER_VERSION }} \
            --target=runtime \
            --tag=dannecron/coverage-merger:${{ github.ref_name }} \
            --file=./.github/Dockerfile .
      - name: Login to docker hub
        uses: actions-hub/docker/login@master
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push docker image to docker-hub
        uses: actions-hub/docker@master
        with:
          args: push dannecron/coverage-merger:${{ github.ref_name }}
